<div *ngIf="caravana">
    <h2>Detalle de Caravana</h2>
  
    <p><strong>Nombre:</strong> {{ caravana.nombreCaravana }}</p>
    <p><strong>Velocidad:</strong> {{ caravana.velocidadCaravana }}</p>
    <p><strong>Carga máxima:</strong> {{ caravana.capacidadMaximaCargaCaravana }}</p>
    <p><strong>Dinero disponible:</strong> {{ caravana.dineroDisponibleCaravana }}</p>
    <p><strong>Vida:</strong> {{ caravana.puntosDeVidaCaravana }}</p>
    <p><strong>Ciudad actual:</strong> {{ caravana.nombreCiudadActual }}</p>
  </div>
  