<h2>Asociaciones del Producto</h2>

<div *ngIf="asociaciones">
  <h3>Producto: {{ asociaciones.producto.nombreProducto }}</h3>
  <p><strong>Precio base:</strong> {{ asociaciones.producto.precioBaseProducto }}</p>
  <p><strong>Peso:</strong> {{ asociaciones.producto.pesoProducto }}</p>

  <hr />

  <h4>Presente en Ciudades</h4>
  <ul *ngIf="asociaciones.enCiudades.length > 0; else sinCiudades">
    <li *ngFor="let ciudad of asociaciones.enCiudades">
      {{ ciudad.nombreCiudad }} - Stock: {{ ciudad.stockProducto }}
    </li>
  </ul>
  <ng-template #sinCiudades><p>No está presente en ninguna ciudad.</p></ng-template>

  <h4>Presente en Caravanas</h4>
  <ul *ngIf="asociaciones.enCaravanas.length > 0; else sinCaravanas">
    <li *ngFor="let caravana of asociaciones.enCaravanas">
      {{ caravana.nombreCaravana }} - Stock: {{ caravana.stockEnCaravana }}
    </li>
  </ul>
  <ng-template #sinCaravanas><p>No está presente en ninguna caravana.</p></ng-template>

  <hr />
  <a routerLink="/productos">
    <button type="button" class="boton-volver">🔙 Volver a productos</button>
  </a>
</div>
