<h2>{{ editar ? 'Editar Caravana' : 'Nueva Caravana' }}</h2>

<form [formGroup]="form" (ngSubmit)="guardar()">
    <label for="nombre">Nombre de la caravana</label>
    <input id="nombre" type="text" formControlName="nombreCaravana" placeholder="Nombre" />
  
    <label for="velocidad">Velocidad</label>
    <input id="velocidad" type="number" formControlName="velocidadCaravana" placeholder="Velocidad" />
  
    <label for="capacidad">Capacidad</label>
    <input id="capacidad" type="number" formControlName="capacidadMaximaCargaCaravana" placeholder="Capacidad" />
  
    <label for="dinero">Dinero</label>
    <input id="dinero" type="number" formControlName="dineroDisponibleCaravana" placeholder="Dinero" />
  
    <label for="vida">Puntos de vida</label>
    <input id="vida" type="number" formControlName="puntosDeVidaCaravana" placeholder="Vida" />
  
    <label for="ciudad">ID de ciudad</label>
    <input id="ciudad" type="number" formControlName="ciudadId" placeholder="ID Ciudad" />
  
    <button type="submit" [disabled]="form.invalid">Guardar</button>
  </form>
  

