<div *ngIf="ciudad">
<h2>Detalle de {{ ciudad.ciudad.nombreCiudad }}</h2>
<p>Impuestos de entrada: {{ ciudad.ciudad.impuestosDeEntradaCiudad }}</p>

<h3>Productos disponibles</h3>
<ul>
  <li *ngFor="let p of ciudad.productos">
    {{ p.nombreProducto }} (Stock: {{ p.stockProducto }})
  </li>
</ul>

<h3>Servicios asociados a la ciudad</h3>
<ul>
  <li *ngFor="let s of ciudad.servicios">
    {{ s.nombreServicio }} - Precio: {{ s.precio }}
  </li>
</ul>

<h3>Rutas</h3>
<ul>
  <li *ngFor="let r of ciudad.rutas">
    A {{ r.destinoNombre }} - Distancia: {{ r.distancia }} km - {{ r.esSegura ? 'Segura' : 'Peligrosa' }}
  </li>
</ul>
</div>
