<div>
  <h2>Editar Caravana</h2>

  <form (ngSubmit)="actualizarCaravana()">
    <label>Nombre:
      <input type="text" [(ngModel)]="formulario.nombreCaravana" name="nombre" required />
    </label>

    <label>Velocidad:
      <input type="number" [(ngModel)]="formulario.velocidadCaravana" name="velocidad" />
    </label>

    <label>Carga máxima:
      <input type="number" [(ngModel)]="formulario.capacidadMaximaCargaCaravana" name="carga" />
    </label>

    <label>Dinero disponible:
      <input type="number" [(ngModel)]="formulario.dineroDisponibleCaravana" name="dinero" />
    </label>

    <label>Vida:
      <input type="number" [(ngModel)]="formulario.puntosDeVidaCaravana" name="vida" />
    </label>

    <label>Ciudad:
      <select [(ngModel)]="formulario.ciudadId" name="ciudad" required>
        <option [value]="null" disabled>Selecciona una ciudad</option>
        <option *ngFor="let ciudad of ciudades" [value]="ciudad.id">
          {{ ciudad.nombreCiudad }}
        </option>
      </select>
    </label>

    <button type="submit">Actualizar</button>
  </form>

  <a routerLink="/caravanas">🔙 Cancelar</a>
</div>

