<h2>{{ editar ? 'Editar Jugador' : 'Nuevo Jugador' }}</h2>

<form [formGroup]="form" (ngSubmit)="guardar()">
  <label for="nombreJugador">Nombre:</label>
  <input id="nombreJugador" type="text" formControlName="nombreJugador" placeholder="Ej: Aragon" />

  <label for="nivelJugador">Nivel:</label>
  <input id="nivelJugador" type="number" formControlName="nivelJugador" placeholder="Ej: 1" />

  <label for="experienciaJugador">Experiencia:</label>
  <input id="experienciaJugador" type="number" formControlName="experienciaJugador" placeholder="Ej: 0" />

  <button type="submit" [disabled]="form.invalid">Guardar</button>
</form>
